@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-Light.woff2') format('woff2'),
        url('/fonts/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-Regular.woff2') format('woff2'),
        url('/fonts/Metropolis-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-Medium.woff2') format('woff2'),
        url('/fonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-SeBold.woff2') format('woff2'),
        url('/fonts/Metropolis-SeBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-Bold.woff2') format('woff2'),
        url('/fonts/Metropolis-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src:
        url('/fonts/Metropolis-Black.woff2') format('woff2'),
        url('/fonts/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    /* font-family: 'Metropolis' !important; */
    font-family: 'Metropolis', sans-serif !important;
    scrollbar-width: thin !important;
}

#root {
    height: 100vh;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #1f3040;
    }

    40% {
        stroke: #e27670;
    }

    66% {
        stroke: #1f3040;
    }

    80%,
    90% {
        stroke: #e27670;
    }
}

.ant-input-outlined:focus-within {
    box-shadow: none !important;
}

.showbox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ......loader...... */

.loader {
    width: 50px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #4226c4 94%, #4226c4);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: l38 0.7s infinite;
}
@keyframes l38 {
    100% {
        background-position:
            100% 0,
            100% 100%,
            0 100%,
            0 0;
    }
}

.ant-breadcrumb span {
    color: #444444 !important;
}

.ant-breadcrumb-separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-spin .ant-spin-dot-holder {
    color: #4226c4;
}

.ant-select-selection-overflow {
    flex-wrap: nowrap !important;
    overflow: auto !important;
    /* scrollbar-width: thin !important; */
}

.contentContainer * {
    font-family: 'Metropolis', sans-serif !important;
    font-size: 14px !important;
    color: #757575 !important;
}

.ant-select-selection-overflow::-webkit-scrollbar {
    display: none !important;
}

.ant-select-multiple .ant-select-selection-wrap {
    align-self: center;
}

.ant-menu-inline-collapsed > .ant-menu-item {
    padding-inline: 4px !important;
}

.ant-table-content {
    position: relative;
    z-index: 1;
}

.apexcharts-datalabel-label {
    font-family: 'Metropolis', sans-serif !important;
    fill: #757575 !important;
    transform: translate(0, -16px);
}

.apexcharts-datalabel-value {
    margin-top: 16px !important;
    font-size: 42px;
    font-family: 'Metropolis', sans-serif !important;
    font-weight: 800 !important;
    color: #232323 !important;
}

.webStoryThumbnail .ant-upload-list-item-container,
.webStoryThumbnail .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
    /* height: 260px !important;
    width: 200px !important; */
}

.webStoryThumbnail .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
    border: 1.5px dashed #c7c7c7 !important;
}

.webStorySlide .ant-upload-list-item-container,
.webStorySlide .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
    height: 206px !important;
    width: 284px !important;
}

.webStorySlide .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
    border: 1px dashed #b1b0b0 !important;
    border-radius: 5px 5px 0 0 !important;
}

.articleStyle1 .ant-input,
.articleStyle1 .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    color: white;
    background: #083050;
    border-radius: 0px;
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.articleStyle1 .ant-input::placeholder {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1a598b;
}

.articleStyle2 .ant-input,
.articleStyle2 .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus,
.articleStyle2 .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus-within {
    color: #757575;
    background: #f1f2f8;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.react-tel-input .form-control {
    font-family: 'Metropolis', sans-serif;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in;
    color: #083050;
}
.articleStyle2 .ant-input::placeholder {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}

.slide-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Metropolis', sans-serif;
}

.slide-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 1%, rgba(28, 28, 28, 0.9) 100%);
    z-index: 1;
}

.slide-text h5 {
    font-size: 24px;
    color: white;
    font-weight: 600;
    z-index: 2;
    position: relative;
    width: 100%;
    text-align: center;
}

.slide-text h6 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    z-index: 2;
    position: relative;
    width: 100%;
    text-align: center;
}

.liveBannerCreative .ant-upload,
.liveBannerCreative .ant-upload-wrapper,
.liveBannerCreative .ant-upload-list-picture-card,
.liveBannerCreative .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
.liveBannerCreative .ant-upload-list-item-container {
    width: 100% !important;
    height: 100% !important;
    max-height: 196px !important;
    object-fit: contain !important;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.5);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.ant-select-selection-item,
.ant-select-selection-placeholder {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #1c1c1c !important;
}
.jodit-container {
    font-family: 'Metropolis', sans-serif;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in;
    color: #083050;
}

.ant-layout-header {
    background-color: white !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}
.custom-danger-button {
    font-family: 'Metropolis', sans-serif !important;
    font-weight: 600;
}
.custom-danger-button:hover {
    color: white !important;
    font-family: 'Metropolis', sans-serif !important;
    background-color: #ff4d4f !important;
}
.ant-menu-submenu-title:hover {
    color: #0e082b !important;
}

.ant-menu-submenu-selected {
    background-color: #ffde39 !important;
    color: #0e082b !important;
    border-radius: 8px !important;
}
.ant-menu-submenu-selected .ant-menu-title-content span {
    font-family: 'Metropolis', sans-serif !important;
    color: #0e082b !important;
    padding: 24px !important;
}
.ant-menu-submenu-selected .ant-menu-submenu-arrow {
    color: #0e082b !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected {
    color: #ffde39 !important;
    background-color: transparent !important;
    padding: 24px !important;
}
.ant-menu-title-content {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ant-menu-item {
    padding: 24px !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #0e082b !important;
    padding: 24px !important;
}

.ant-upload {
    width: 100% !important;
}

.ant-select-selection-item {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #444444;
}
.ant-select-selector:focus,
.ant-select-selector:hover {
    box-shadow: none !important;
    border-color: #e7e7e7 !important;
}
.ant-select-selector {
    border-color: #e7e7e7 !important;
}
.ant-upload {
    background-color: transparent !important;
}
.ant-drawer-header-title {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    flex-direction: row-reverse !important;
}

.ant-drawer-title {
    font-family: 'Metropolis', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #0e082b !important;
}
.ant-drawer-content-wrapper {
    border-radius: 20px 0 0 20px !important;
    overflow: hidden !important;
}

.ant-breadcrumb nav ol li a {
    font-family: 'Metropolis', sans-serif !important;
    font-size: 16px !important;
    color: #444444 !important;
    font-weight: 500 !important;
}

:where(.css-dev-only-do-not-override-axy5xs).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #4226c4 !important;
}

.ant-menu-submenu-title {
    padding: 24px !important;
}
